[color]
	ui = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset-%C(yellow)%dCreset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	st = status
	cm = commit -m
	co = checkout
	br = branch
	sa=  stash
	sa-list = stash list

	graph-log = log --graph
	add-ori = !sh -c 'git remote add origin '$1''
	br-co = !sh -c 'git checkout -b '$1''
	merge-nff = !sh -c 'git merge --no-ff '$1' -m '$2''
	br-del = !sh -c 'git branch -d '$1''
	re-hard = !sh -c 'git reset --hard '$1''
	sa-apply = !sh -c 'git stash apply '$1''
	sa-drop = !sh -c 'git stash drop '$1''
	sa-pop = !sh -c 'git stash pop '$1''
 	br-set-upstream-ori = !sh -c 'git branch --set-upstream-to '$1' origin/'$2''
	tag-push-ori = !sh -c 'git push origin '$1''
	tag-pushall-ori = push origin --tags
	tag-del = !sh -c 'git tag -d '$1''
	tag-del-ori = !sh -c 'git push origin :refs/tags/'$1''
	pu-ori = push origin HEAD:refs/for/leepi/master
	pu-cus = !sh -c 'git push '$1' HEAD:refs/for/leepi/'$2''

[user]
	name = zhanglei
	email = zhanglei2@iauto.com
